* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content:center; */
  min-height: 100vh;
}

.App {
  width: 100%;
  max-width: 550px;
  background-color: #ffffff;
}

/* Header component styles */

.header {
  display: flex;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #ffffff;
  height: 65px;
  width: 550px;
  padding: 20px;
}

.logo {
  height: 26.21px;
  width: 31.3px;
  align-self: center;
}

.logo--title {
  font-size: 21px;
  font-weight: 700;
  margin-right: auto;
  align-self: center;
  margin-left: 10px;
}

.project--number {
  font-size: 12px;
  font-weight: 500;
  text-align: right;
}

/* Meme component styles aka form input */
main{
  padding: 35px;
}

.form {
  font-family: "Karla", sans-serif;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px
}

.form--input {
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 35px;
  outline: none;
  text-indent: 5px;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
}

.form--button {
  font-family: "Karla", sans-serif;
  grid-column: 1/-1;
  border-radius: 5px;
  color: #ffffff;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
 border:none;
font-size: 16px;
font-weight: 700;
text-align: center;
cursor: pointer;
}

.meme--Image{
  max-width: 100%;
/* width: 477px; */
border-radius: 2px;
margin-top: 36px;
}